@page
@model IndexModel
<!-- este es el codigo del login -->

login<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Accrontol<span>Web</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Login">
		</div>