@page
@model AccrontolWeb.App.WebApp.CreateModel
@{
    ViewData["Title"] = "Registro Personas";
    Layout = "_Layout"; //Generar una plantilla con estilos
    //invocar archivo JavaScript debe estar configurado en el Layout, en la aprte inferior
    //de esta forma se le solicita al codigo que es mandatorio
    ViewData["script"] = "Create.js"; 
}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-ms-12">

        </div>
        <div class="col-md-8 col-ms-12">
            <h1>Registro Empleado</h1>
            <form method="post">
                <div class="form-group">
                    <label for="descripcion">Numero documento: </label>
                    <input type="text" class="form-control" id="identificacion" name="identificacion"
                        placeholder="Ingrese identificación" minlength="2" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="area">Nombre empleado: </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese nombre"
                        minlength="2" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="area">Usuario: </label>
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese usuario"
                        minlength="2" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="area">Contraseña: </label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese contraseña:"
                        minlength="2" maxlength="50">
                </div>
                <div class="form-group">
                    <label for="SelectorArea">Seleccione area empleado: </label>
                    <select class="form-control" id="Areaid" name="Areaid">
                        <option value="" selected="selected">Seleccione </option>
                        <option value="1">Adminstracion</option>
                        <option value="2">Desarrollo</option>
                        <option value="3">SoporteIT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="SelectorArea">Seleccione sede empleado: </label>
                    <select class="form-control" id="Sedeid" name="Sedeid">
                        <option value="" selected="selected">Seleccione </option>
                        <option value="1">Bogota</option>
                        <option value="2">Cali</option>
                        <option value="3">Remoto</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-2 col-ms-12">

            </div>
            <div class="col-md-8 col-ms-12">

            </div>
        </div>
    </div>
</div>
